@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
// Required
@import 'bootstrap/scss/functions';
$grid-breakpoints: (
  xs: 0,
  xxs: 376px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
// Default variable overrides
$font-family-sans-serif:
  'Noto Sans TC',
  system-ui,
  -apple-system,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  'Noto Sans',
  'Liberation Sans',
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji';
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
  monospace;
$primary: #3e7f41;
$secondary: #e4f8e5;
$info: #ff9800;
$body: #efefef;

// Required

@import 'bootstrap/scss/bootstrap';

@import './reset';
@import './utility';
@import './pages/index';
@import './custom.scss';
