// @import 'bootstrap';
// Required
@import 'bootstrap/scss/functions';

// Default variable overrides
$primary: #475841;
$secondary: #dbd3ad;
$info: #f4a7b9;

// Required
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/bootstrap';

@import './custom.scss';
