.btn-custom {
  background-color: transparent;
  color: rgb(33, 37, 41);
  &.active {
    color: $secondary;
    background-color: $primary;
  }
  &:hover {
    background-color: $primary;
    color: $secondary;
  }
}
@media (hover: none) {
  .btn-custom:hover {
    background-color: transparent;
    color: rgb(33, 37, 41);
    &.active:hover {
      color: $secondary;
      background-color: $primary;
    }
  }
}
.bedge-custom {
  background-color: #cdcdcd; //$secondary;
  color: #fff; //$primary;
  &:hover {
    background-color: $primary;
    color: $secondary;
  }
  &.active {
    color: $secondary;
    background-color: $primary;
    &:hover {
      background-color: darken($primary, 10%);
    }
  }
}
@media (hover: none) {
  .bedge-custom:hover {
    background-color: #cdcdcd; //$secondary;
    color: #fff; //$primary;
    &.active:hover {
      color: $secondary;
      background-color: $primary;
    }
  }
}

.link-gray {
  color: #7d7d7d;
  &:hover {
    color: $info;
  }
}
.loader {
  width: 120px;
  height: 20px;
  border-radius: 20px;
  background: linear-gradient(orange 0 0) 0/0% no-repeat lightblue;
  animation: l2 2s infinite steps(10);
}

@keyframes l2 {
  100% {
    background-size: 110%;
  }
}
// icon 充填
.fill-symbol {
  font-variation-settings: 'FILL' 1;
}
.star-null {
  color: #cdcdcd;
}
