body {
  background-color: $body;
  color: #666;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.review-btn.active {
  background-color: $info;
  color: $primary;
  border-color: $primary;
}
.btn-custom {
  &.active {
    color: $primary;
    background-color: $secondary;
  }
}
@media (any-hover: hover) {
  .btn-custom:hover {
    background-color: $primary;
    color: $secondary;
  }
}
.bedge-custom {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #cdcdcd; //$secondary;
  color: #fff; //$primary;
  &.active {
    color: $secondary;
    background-color: $primary;
  }
}
@media (hover: none) {
  .bedge-custom {
    background-color: $secondary;
    color: $primary;
  }
}

.link-gray {
  color: #7d7d7d;
  &:hover {
    color: $info;
  }
}
.loader {
  width: 120px;
  height: 20px;
  border-radius: 20px;
  background: linear-gradient(orange 0 0) 0/0% no-repeat lightblue;
  animation: l2 2s infinite steps(10);
}

@keyframes l2 {
  100% {
    background-size: 110%;
  }
}
.star-null {
  color: #cdcdcd;
}
